# Environments
.venv
.env

# Byte-compiled / optimized / DLL files
__pycache__
build
dist
.coverage
.egg-info

# Custom byte-compiled files
.db

# Cache directories
*_cache

# IDEs and editors
.vscode

# OS files
.DS_Store
